.Aside .Header {
    background-color: #212329;
    color: white;
    height: 180px;
    display: flex;
    padding: 40px 20px;
    flex-direction: column;
    gap: 32px;
}

.Aside .Header .Title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.Aside .Header .Input .SpanIcon {
    padding-top: 6px;
}

.Aside .Header .Title .Icon {
    margin: 0px 10px;
}

.Aside .Header input {
    color: #fff;
    font-size: 18px;
    width: 100%;
    background-color: #15161a;
    height: 46px;
    resize: none;
    border: none;
}

.Aside .Header input::placeholder {
    color: rgb(165, 165, 165);
}

.Aside .Header input:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

.Aside .Header input::selection {
    background-color: #444444; 
    color: #fff; 
    caret-color: #fff; 
}

.Aside .Header .Input {
    gap: 20px;
    background-color: #15161a;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 0px 16px;
}
