.Chat .Body .First {
    display: flex;
    width: 100%;
    padding: 0px 0px;
    margin-bottom: 10px;
}

.Chat .Body .First.MyMessage {
    flex-direction: row-reverse;
    justify-content: end;
}

.Chat .Body .First.AnotherMessage {
    flex-direction: row;
    justify-content: start;
}

.Chat .Body .First .ContainerMessage{
    display: flex;
    flex-direction: column;
    width: 50%;
    max-width: 50%;
}

.Chat .Body .First .ContainerMessageText{
    display: flex;
    align-items: end;
}

.Chat .Body .First.MyMessage .ContainerMessageText{
    flex-direction: row;
    justify-content: end;
}

.Chat .Body .First.AnotherMessage .ContainerMessageText{
    flex-direction: row-reverse;
    justify-content: start;
}

.Chat .Body .First.MyMessage .ContainerMessage{
    align-items: end;
}

.Chat .Body .First.AnotherMessage .ContainerMessage{
    align-items: start;
}


.Chat .Body .First .Message{
    color:white;
    margin: 10px 10px 0px 10px;
    padding: 12px 24px;
    width:fit-content;
    max-width: 100%;
}

.Chat .Body .First .Message .Text{
    font-size: 14px;
    font-weight: 400;
}

.Chat .Body .First.MyMessage .Message{
    background-color: #296eff;
    border-radius: 12px 0px 12px 12px;
}

.Chat .Body .First.AnotherMessage .Message{
    background-color: #1e1f25;
    border-radius: 0px 12px 12px 12px;
}

.Chat .Body .First img {
    height: 40px;
    border-radius: 100px;
}

.Chat .Body .First .Info{
    color:white;
    padding: 0px 12px;
    display: flex;
    align-items: center;
    gap: 0px;
    font-size: 16px;
    width: 100%;
}

.Chat .Body .First .Date{
    color:rgb(156, 156, 156);
    font-size: 10px;
    padding: 0px;
    font-weight: 300;
    width: fit-content;
}

.Chat .Body .First .Info .Name{
    width: fit-content;
}

.Chat .Body .First.MyMessage .Info{
    flex-direction: row-reverse;
}

.Chat .Body .First.AnotherMessage .Info{
    flex-direction: row;
}

